body {
  font-family: $--font-sans;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.disabled {
  opacity: .4;
  pointer-events: none;
  filter: saturate(0);
}