@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700&display=swap');
@import 'responsive.scss';
@import 'variables.scss';
@import 'base.scss';
@import 'form.scss';